{% extends 'admin/base.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Students</h5>
                    <p class="card-text" id="total-students">234</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Teachers</h5>
                    <p class="card-text" id="total-teachers">20</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Parents</h5>
                    <p class="card-text" id="total-parents">115</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Classes</h5>
                    <p class="card-text" id="total-classes">10</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Student Enrollment</h5>
                    <canvas id="studentChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Teacher Distribution</h5>
                    <canvas id="teacherChart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
