body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand,
.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ffc107 !important;
}

/*.sidebar {
    height: 100vh;
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    overflow-y: auto;
}

.sidebar .nav-link {
    color: #fff;
    padding: 10px 20px;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}*/

.main-content {
    margin-right: 270px;
    padding: 20px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #343a40;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Admin Manage result */
.school-header {
    text-align: center;
    margin-bottom: 20px;
}

.results-table th,
.results-table td {
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 0;
    /* Adjust if your navbar height is different */
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #343a40;
    padding-top: 20px;
    overflow-y: auto;
}

.sidebar .nav-link {
    color: #ffffff;
    padding: 10px 15px;
    display: block;
}

.sidebar .nav-link:hover {
    background-color: #495057;
    text-decoration: none;
}

.container {
    width: 90%;
    margin-right: 150px;
}
