{% include "ajax/students/_students_table.html" %}
<div class="pagination-container d-flex justify-content-center my-4">
    <ul id="pagination" class="pagination">
        {% if pagination.has_prev %}
            <li class="page-item">
                <a href="{{ url_for('admins.search_students', action=action, page=pagination.prev_num, enrollment_status=enrollment_status, fee_status=fee_status|default(''), approval_status=approval_status|default(''), **({'query': search_query} if search_query else {})) }}"
                   class="page-link pagination-link pagination-sm">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </li>
        {% endif %}
        {% for page in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
            {% if page %}
                <li class="page-item {{ 'active' if page == pagination.page else '' }}">
                    <a class="page-link pagination-link pagination-sm"
                       href="{{ url_for('admins.search_students', action=action, page=page, enrollment_status=enrollment_status, fee_status=fee_status|default(''), approval_status=approval_status|default(''), **({'query': search_query} if search_query else {})) }}">
                        {{ page }}
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">…</span>
                </li>
            {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
            <li class="page-item">
                <a href="{{ url_for('admins.search_students', action=action, page=pagination.next_num, enrollment_status=enrollment_status, fee_status=fee_status|default(''), approval_status=approval_status|default(''), **({'query': search_query} if search_query else {})) }}"
                   class="page-link pagination-link pagination-sm">
                    <i class="bi bi-arrow-right"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</div>