
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 {{school_name}}. All Rights Reserved.</p>
            <!-- Social media links -->
            <ul class="social-media-links">
                <li><a href="https://www.facebook.com/schoolname" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/schoolname" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/schoolname" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <!-- Add more social media links as needed -->
            </ul>
        </div>
    </footer>
