<footer class="footer jumbotron bg-success text-white text-center py-5">
    <div class="container">
        <div class="row">
            <!-- Contact Information -->
            <div class="col-md-4 mb-4">
                <h5>Contact Us</h5>
                <p>Address: No 6 Oomnne Drive by winner's bus-stop, Abayi, Aba</p>
                <span class="phone-number"><i class="fas fa-phone-alt"></i> +234-806-967-8968</span>
                <p>Email: info@schoolname.edu</p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-4 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('index') }}" class="text-white">Home</a></li>
                    <li><a href="{{ url_for('about_us') }}" class="text-white">About Us</a></li>
                    <li><a href="{{ url_for('student_registration') }}" class="text-white">Registration</a></li>
                    <li><a href="{{ url_for('student_result_portal') }}" class="text-white">Result Portal</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>

            <!-- Newsletter Subscription -->
            <div class="col-md-4 mb-4">
                <h5>Newsletter</h5>
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Your Email" required>
                    </div>
                    <button type="submit" class="btn btn-outline-light">Subscribe</button>
                </form>
            </div>
        </div>

        <!-- Social Media Links -->
        <div class="row mt-4">
            <div class="col-12">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/schoolname" target="_blank" class="text-white">
                            <i class="fab fa-facebook-f fa-lg"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/schoolname" target="_blank" class="text-white">
                            <i class="fab fa-twitter fa-lg"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/schoolname" target="_blank" class="text-white">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                    </li>
                    <!-- Add more social media links as needed -->
                </ul>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="row mt-4">
            <div class="col-12">
                <p>&copy; 2024 {{ school_name }}. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

<style>
    footer .list-inline-item a {
        color: #ffffff;
        margin: 0 10px;
    }

    footer .list-inline-item a:hover {
        color: #dddddd;
    }

    footer h5 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    footer p, footer ul {
        font-size: 0.875rem;
    }

    footer .btn {
        font-size: 0.875rem;
    }
</style>
